.con {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 100px 100px;
    grid-template-areas:
        "img d"

        "img name";
        padding: 20px 20px;
        margin: 5px ;
background-color: aquamarine;
width: 440px;
    }

.img {
    grid-area: img;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: contain;
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/498/229/non_2x/mercedes-benz-logos-popular-brands-of-cars-isolated-on-transparent-background-3d-render-free-png.png);
cursor: pointer;}

.name {display: flex;
    /* justify-content: center; */
    align-items: center;
    grid-area: name;

   
}

.box{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255,255, 0.3);
}

