/* *{
    text-decoration: none;
}

.header{
    display: grid;
    grid-template-columns: 300px 400px;
    /* grid-template-rows: auto; */
    /* height: 100px; */
    /* border-bottom: 2px rgb(68, 66, 66); */
    /* grid-template-areas: "d link";
justify-content: space-between;
 
 padding: 5px 5px 5px 5px;
 margin-bottom: 5px rgb(60, 60, 60); 
align-items: center;
width: 900px;
}

.d{
    color: rgb(4, 231, 155);
    text-align: center;
    text-size-adjust:20px ;
    
}
.link{
    display: flex;
    text-decoration: none;
    color: rgba(51, 50, 50, 0.436);
    list-style: none;
    gap: 10px;
}

 */ 














 *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: border-box;
    text-decoration: none;
}




.head{
height: 53px;
width: 270px;
font-size: 48px;
padding-left: 40px;
padding-top: 40px;
}



.navbar{
    height: 100px;
    background-color: #1FA67A;;
    color: white;
}


.navlink{position: relative;
    display: flex;
    justify-self: center;
    align-items:last baseline;
    gap: 40px;
    bottom: 1px;
    color: white;
    height: 50px;
    text-decoration: white;

}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white ;

}


.lbox{
    padding: 10px;
    /* background-color:#1FA67A;; */
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}

 
.img{
    height: 650px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/love.jpg);
}

/*
.boximg{
    position: relative;
    bottom: 20px;
    left: 20px;
    background-color
    : #010705;
}


.boximg1{

} */


.baseline1{
    display: flex;
    justify-content:center;
    align-items: center;
    /* padding-left: 5px ; */padding: 5px;
}

.o{
    padding-left: 5px;
}


p{
    font-size: 20px;
}


.love{
    display: flex;
    justify-content:center;
    align-items: center;
   width: 100%;
   border-bottom: 2px solid rgba(157, 88, 222, 0.773);
    font-size: 30px;
    color: blueviolet;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h{
    height: 100px;
}
.con{display: grid;
    grid-template-columns: 355px 355px 355px;
    grid-template-rows: 355px;
    grid-template-areas: "conside box2 box3";
}

.conside{

}

.box2{

}


.box3{

}